/* RESUME EDITOR LAYOUT CSS START */
.resume-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
.resume-editor {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.resume-preview {
  margin: 20px 40px;
}
.resume-download-btn {
  padding: 20px;
}
.resume-download-btn .save-btn {
  padding: 10px;
  background: #4c26bf;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 4px;
}
/* RESUME EDITOR LAYOUT CSS START */

/* RESUME INPUT CSS START */
.nav-item {
  color: #000;
}
.tab-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.editor-from {
  background-color: #fff;
  padding: 20px;
  width: 95%;
}
.editor-from .inputBox {
  position: relative;
  width: 100%;
}
.editor-from .inputBox input {
  position: relative;
  width: 100%;
  background: #eee;
  border: none;
  outline: none;
  padding: 12px 10px;
  border-radius: 4px;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  margin-top: 4px;
}
.editor-from .inputBox input[type="submit"] {
  padding: 10px;
  margin-top: 20px;
  width: 200px;
  background: #4c26bf;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
}
.group-button {
  width: 100%;
  display: flex;
}
.remove-btn {
  background-color: #e49b9b;
  padding: 10px 10px;
  margin: 0px 30px 0px 30px;
  margin-top: 20px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

/* RESUME INPUT CSS END */
